body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  color: #f5b4ec;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #e4568c;
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #ec3ac6;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  animation: fade-in 0.5s ease-in-out;
}

.delete-button {
  background-color: #dc3545;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 10px 10px;
  margin-left: 0px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #b32d3b;
}

.note-card {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  animation: fade-in 0.5s ease-in-out;
}

.note-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 5px;
}

.button {
  margin-right: 50px;
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.theme-switch label {
  margin-right: 10px;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}
